<section class="content">
    <div class="container-fluid">
        <div class="header">
            <div class="col-sm-2 col-xs-6">
                <div class="form-group pull-right">
                    Transaction&nbsp;Date:
                </div>
            </div>
            <div class="col-sm-1 col-xs-6 pull-left">
                <div class="form-group pull-left">
                    <div class="form-line">
                        <input [(ngModel)]="DBData.TDATE" value="{{now | date:'dd-MM-yyyy'}}" class="form-control"
                            placeholder="Ex: 01-01-2020" #TDATE (focusout)="onBlur(TDATE.value)">
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-xs-12 pull-right" style="margin-bottom: 5px;">
                <button class="headerButton" title="Previous Month" mat-stroked-button tabindex="-1">
                    <mat-icon>first_page</mat-icon>
                </button>
                <button class="headerButton" title="Previous Day" mat-stroked-button tabindex="-1">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button class="headerButton" title="Next Day" mat-stroked-button tabindex="-1">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <button class="headerButton" title="Next Month" mat-stroked-button tabindex="-1">
                    <mat-icon>last_page</mat-icon>
                </button>
                <button class="headerButton" title="Data Save" style="color:green;" mat-stroked-button tabindex="-1">
                    <mat-icon>save</mat-icon>
                </button>
                <button class="headerButton" title="Close" style="color:red;" mat-stroked-button
                    [routerLink]="['/home']" tabindex="-1">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="body">
            <mat-tab-group>
                <mat-tab label="Main Condition">
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-sm-6">Condition Type</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" [(ngModel)]="DBData.E_COND_TYPE"
                                            aria-placeholder="E_COND_TYPE">
                                            <option value="">option 1</option>
                                            <option value="">option 2</option>
                                            <option value="">option 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Condition</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_COND"
                                        placeholder="E_COND">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Offsite Sub Condition">
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-sm-6">OffsiteCondition</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" list="DSP-E-COND-list" class="form-control"
                                        [(ngModel)]="DBData.DSP_E_COND" placeholder="DSP_E_COND">
                                    <datalist id="DSP-E-COND-list">
                                        <option value="value 1"></option>
                                        <option value="value 2"></option>
                                        <option value="value 3"></option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Sub ConditionDescription</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_SUB_COND_DESC"
                                        placeholder="E_SUB_COND_DESC">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Ammonia CoolingTower(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_ACT_PERCENT"
                                        placeholder="E_ACT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Urea CoolingTower(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_UCT_PERCENT"
                                        placeholder="E_UCT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Water Pre-TreatmentPlant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_WPT_PERCENT"
                                        placeholder="E_WPT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">De-MineralizedPlant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_DM_PERCENT"
                                        placeholder="E_DM_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Instrument AirCompressor(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_IAC_PERCENT"
                                        placeholder="E_IAC_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">EffluentTreatment Plant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_ETP_PERCENT"
                                        placeholder="E_ETP_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">FireStation(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group readonly">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_FS_PERCENT"
                                        placeholder="E_FS_PERCENT" readonly tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="3MVA Sub Condition">
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-sm-6">3MVA Condition</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" list="DSP_E_COND_3MVA-list" class="form-control"
                                        [(ngModel)]="DBData.DSP_E_COND_3MVA" placeholder="DSP_E_COND_3MVA">
                                    <datalist id="DSP_E_COND_3MVA-list">
                                        <option value="value 1"></option>
                                        <option value="value 2"></option>
                                        <option value="value 3"></option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Sub Condition Description</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_SUB_COND_DESC"
                                        placeholder="E_SUB_COND_DESC">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Ammonia Cooling Tower Percent(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_ACT_PERCENT"
                                        placeholder="E_ACT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Urea CoolingTower(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_UCT_PERCENT"
                                        placeholder="E_UCT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Water Pre-TreatmentPlant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_WPT_PERCENT"
                                        placeholder="E_WPT_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">De-MineralizedPlant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_DM_PERCENT"
                                        placeholder="E_DM_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">EffluentTreatment Plant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_ETP_PERCENT"
                                        placeholder="E_ETP_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Instrument AirCompressor(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group readonly">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_IAC_PERCENT"
                                        placeholder="E_IAC_PERCENT" readonly tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="SPG Sub Condition">
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-sm-6">SPG Main Condition</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" list="DSP_E_CONDsmc-list" class="form-control"
                                        [(ngModel)]="DBData.DSP_E_COND" placeholder="DSP_E_COND">
                                    <datalist id="DDSP_E_CONDsmc-list">
                                        <option value="value 1"></option>
                                        <option value="value 2"></option>
                                        <option value="value 3"></option>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">SPG Sub Condition Description</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_SUB_COND_DESC"
                                        placeholder="E_SUB_COND_DESC">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Captive Power Plant(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_CPP_PERCENT"
                                        placeholder="E_CPP_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Instrument Air Compressor(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_IAC_PERCENT"
                                        placeholder="E_IAC_PERCENT">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Auxillary Boiler(%)</div>
                            <div class="col-sm-6">
                                <div class="form-group  readonly">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_AB_PERCENT"
                                        placeholder="E_AB_PERCENT" readonly tabindex="-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Communicaton">
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-sm-6">Communicaton Name</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_COMM_NAME"
                                        placeholder="E_COMM_NAME">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Description</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" class="form-control" [(ngModel)]="DBData.E_COMM_REMARK"
                                        placeholder="E_COMM_REMARK">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">Status</div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select id="E_STATUScmm-list" class="form-control" [(ngModel)]="DBData.E_STATUS">
                                        <option value="">value 1</option>
                                        <option value="">value 2</option>
                                        <option value="">value 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <footer class="footer">
        <div class="col-sm-2 col-xs-6">
            <h6 *ngIf="userDetails">{{userDetails.UserName}}</h6>
        </div>
        <div class="col-sm-2 col-xs-6">
            <h6>Last modified UserName</h6>
        </div>
        <div class="col-sm-2 col-xs-6">
            <h6>Last modified Date</h6>
        </div>
        <div class="col-sm-2 col-xs-6">
            <h6>Previous Day Value</h6>
        </div>
        <div class="col-sm-2 col-xs-6">
            <h6>{{PageTitle}}</h6>
        </div>
        <div class="col-sm-2 col-xs-6">
            <h6>{{now | date:'dd-MM-yyyy hh:mm:ss a'}}</h6>
        </div>
    </footer>
</section>