@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
  /* font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif; */
  font-family: sans-serif !important;
  background-color: none !important;
}

body {
  margin: 0px;
  /* background-image: url('assets/img/cfcl.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  background-color: rgb(226, 226, 226) !important;
}

.page-loader-wrapper {
  background: #0a0a0aa6 !important;
}
.page-loader-wrapper p {
  color: #fff;
}

mat-card {
  max-width: 25%;
  margin: 2em auto;
  text-align: center;
}

.mat-toolbar {
  justify-content: space-between;
}

mat-icon {
  vertical-align: middle;
  height: 24px;
}

.homeimg {
  width: 100% !important;
  height: auto !important;
}

:host {
  display: flex;
  justify-content: center;
  margin: 150px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: blue;
}
.button {
  display: flex;
  justify-content: flex-end;
}

.ctable {
  padding: 10px;
}

.ctable td {
  padding: 2px;
  width: 200px;
}
.ctable > tbody > tr > td hr {
  color: black !important;
}
.mat-tab-label {
  height: 30px !important;
}
.mat-tab-group{
  width: 100% !important;
}
.body > label {
  text-align: right !important;
}
.mat-tab-label-active {
  background-color: #3f51b552 !important;
  font-weight: 600;
  color: #000;
}

.example-form {
  /* min-width: 180px; */
  /* max-width: 500px; */
  width: 100%;
}

.sidebar .menu .list .ml-menu li a {
  padding-left: 45px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.sidebar .menu .list .ml-menu li .ml-menu li a {
  padding-left: 60px !important;
}

.example-full-width {
  width: 100%;
}
.mat-select-value
{
  min-width: 100px !important;
}
.form-control {
  border: #0000003b solid 1px !important;
  border-radius: 3px !important;
  padding: 5px !important;
  height: 22px !important;
}
.form-control::selection {
  border: #00000080 solid 1px !important ;
  border-radius: 3px !important;
  padding: 5px !important;
  height: 22px !important;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
}

.readonly {
  border-radius: 4px !important;
  background-color: lightblue;
}

.form-group {
  margin-bottom: 0px !important;
}

.mat-stroked-button {
  min-width: 0px !important;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.pull-left {
  text-align: left;
}

.headerButton {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.mat-stroked-button {
  padding: 0 8px !important;
  line-height: 26px !important;
}
.navbar {
  height: 30px !important;
  min-height: 40px !important;
  margin-bottom: 0px !important;
}
.navbar-brand {
  height: 20px !important;
  padding: 1px 14px !important;
  font-size: 20px !important;
  line-height: 20px !important;
}
.navbar .navbar-header {
  display: inline-block !important;
}
.navbar .navbar-toggle {
  margin-top: -17px !important;
  margin-right: 24px !important;
}
.mat-button {
  line-height: 25px !important;
  color: white !important;
}
.material-icons {
  font-size: 24px !important;
}
.sidebar .menu .list i.material-icons {
  margin-top: 6px !important;
}
.ls-closed .bars:before {
  top: 10px !important;
}
.ls-closed .bars:after {
  top: 10px !important;
}
.navbar-nav > li > a {
  margin-top: 5px !important;
  padding: 0px 0px 0px 0px;
  font-size: larger !important;
}
.ctable > tbody > tr > td {
  text-align: right;
}
.form-group {
  width: 150px !important;
}

/*
Sidebar 
*/
.sidebar {
  display: none;
  top: 75px !important;
  width: 250px !important;
  height: calc(102vh - 50px) !important;
}
.sidebar .menu .list a {
  padding: 5px 5px !important;
}
.bars:before {
  left: 10px !important;
}
.bars:after {
  left: 10px !important;
}
.ls-closed .bars:before {
  top: -3px !important;
  font-size: 33px !important;
}
.ls-closed .bars:after {
  top: 0px !important;
  font-size: 30px !important;
}
fieldset {
  min-width: 0 !important;
  padding: 10px !important;
  margin: 20 !important;
  border: 1 !important;
  border-radius: 10px !important;
}
legend {
  display: block !important;
  padding: 10px !important;
  margin-left: 20px !important;
  font-size: 16px !important;
  line-height: inherit !important;
  color: #000 !important;
  border: 0 !important;
}
.sidebar .menu .list .ml-menu span {
  margin: 0px 0 1px 5px !important;
}
.sidebar .legal {
  padding: 10px !important;
}
section.content {
  /* margin: 65px 10px 10px 265px; */
  margin: 75px 5px 35px 5px;
}

footer {
  text-align: center !important;
  position: fixed !important;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  min-height: 30px;
  background-color: #3f51b5;
  /* background-color: black; */
  color: white;
}
hr {
  border-top: 1px solid #33333378 !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.header {
  background-color: #fff !important;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 1px !important;
  padding-left: 1px !important;
}
@media (max-width: 767px) {
  .newnavbar {
    display: none !important;
  }
  .sidebar {
    top: 40px !important;
    display: block !important;
  }
  .navbar .navbar-nav {
    background-color: #3f51b5;
    text-align: right !important;
  }
  section.content {
    margin: 45px 5px 60px 5px !important;
  }
  .footer {
    width: 100%;
    font-size: 5px !important;
    text-align: left !important;
  }
  .footer .col-xs-6 {
    padding: 7px 5px 0px 5px !important;
    margin: -14px 0px -8px 0px !important;
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .pull-right {
    text-align: center;
  }
  .pull-left {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  .newnavbar {
    display: none !important;
  }
  .navbar .navbar-nav {
    background-color: #3f51b5;
  }
  .sidebar {
    top: 40px !important;
    display: block !important;
  }
  section.content {
    margin: 45px 5px 60px 5px !important;
  }
  .footer {
    width: 100%;
    font-size: 5px !important;
    text-align: left !important;
  }
  .footer .col-xs-6 {
    padding: 0px !important;
    margin: 0px !important;
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .pull-right {
    text-align: center;
  }
  .pull-left {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 47px !important;
  }
  mat-card {
    max-width: 80%;
    max-height: 800px;
  }
  .sidebar {
    top: 40px !important;
    display: block !important;
  }
  .newnavbar {
    display: none !important;
  }
  .navbar .navbar-nav {
    background-color: #3f51b5;
  }
  section.content {
    margin: 45px 5px 60px 5px !important;
  }

  .footer {
    width: 100%;
    font-size: 5px !important;
    text-align: left !important;
  }
  .footer .col-xs-6 {
    padding: 0px !important;
    margin: 0px !important;
  }

  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .row {
    margin-right: 1px !important;
    margin-left: 1px !important;
    margin-bottom: 1px !important;
  }

  .mat-form-field {
    min-width: 100px !important;
  }

  .card {
    margin-bottom: 125px !important;
  }
  section.content {
    margin: 52px 0px 0 0px !important;
  }
  .pull-right {
    text-align: center;
  }
  .pull-left {
    text-align: center;
  }
}

.met-tab-label {
  background-color: #fff !important;
}
.met-tab-label-active {
  background-color: #e2e2e2 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: right !important;
}

.mat-menu-item {
  line-height: 34px !important;
  height: 34px !important;
}

.example-container {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.newnavbar {
  background-color: #3f51b5;
  height: 30px !important;
  margin-top: 0px !important;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  border-radius: none;
  /* -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); */
  border: none;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 5;
  width: 100%;
}
